# Enable all checks, then selectively disable
external-sources=true
check-unassigned-uppercase=true
deprecate-which=true

# Disable checks that are too noisy for this codebase
disable=SC1090
disable=SC1091
disable=SC2002
